// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
@import 'normalize';
@import 'header';

* {
    box-sizing: border-box;
}

body {
    font-family: 'raleway', sans-serif;
    text-align: center;
    color: #21476B;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

section {
    padding: 20px 20px 0;
}

h2, p::first-letter {
    text-transform: capitalize;
}

p {
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

.section-title {
    width: 220px;
    margin: .5em auto 1em;
    padding: 0.3em 0.7em;
    border-bottom: 2px solid #21476B;
}

.button {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #21476B;
    color: #fff;
    // border: 3px solid;
    padding: .8em 1.75em;
}

// **** Navigation styling ****

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .8em;
}

// **** Hero section ****

.hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 2em 5em;
}

.title {
    font-size: 2rem;
    margin-bottom: 2em;
}

.title span{
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: .8em;
}

// **** Mission section ****

.mission p:last-child {
    margin-bottom: 0;
}

// **** Members section ****

.player-img {
    width: 250px;
    margin-top: 1em;
}

figure:first-of-type img {
    margin-top: 0;
}

.player-name {
    margin-bottom: 0;
}

.player-blurb {
    margin: .5em 0 0;
}

// **** donate section ****

.donate-img {
    width: 10em;
}

// **** sponsors section ****

.sponsor-logos {
    // display: flex;
    // flex-wrap: wrap;
    // padding: 20px;
}

.sponsor-logos img {
    width: 10em;
    display: block;
    margin: 15px auto;
}

//  **** Footer section ****

footer {
    margin: 3em 2em 1em;
}